.intro{
  background: #ffffcc;
  height:30vh;
  background: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
  url("rainbowbackground.jpg");
  height:30vh;
}

.backgroundinfo { 
	color: white;
	font: bold 20px/40px Helvetica, Sans-Serif; 
  text-align: right;
  background:rgba(127,127,102,0.5);
  height:70vh;
}

.text {
  text-align: left;
  margin: auto;
 font-size: 20px;
  color: #FFFFE5;
  display:block;
  background: 
  linear-gradient(#7f7f66,#bfbfb2);
  height:100vh;
  padding: 30px;
  }

.tablebottom{
  background:rgba(31,31,31,0.6);
}

 #form{
  margin: 20px;
  width: 500px;
  padding: 1em;
  bottom:0;
  border: 3px solid #CCC;
  border-radius: 1em;
  text-align:right;
  }

h2{color: darkblue}
h1{
  font-size: 50px;
  text-shadow: 2px 2px 2px #aaa;
  font-family: proxima-nova,sans-serif;
  text-transform: uppercase;
  color: #eeeddf;
  font-weight: 500;
  text-align:center;
  padding-top: 50px;
  }
br { line-height: 2em}

html, body {
	height: 100%;
}

footer {
	background: darkblue;
	color: #fff;
	font-family: 'Shadows Into Light';
}

.nav {
	list-style: none;
  font-family: 'Shadows Into Light';
  font-size: 20px;
  color: white;
  background:
  linear-gradient(#FFFFE5,#e5e5ce);
}


.nav li {
	display: inline;
	padding: 15px;
}



