h1 {color: darkblue
} 
.container{
  position: relative;
  display: inline-block;
}

h2 {color: darkblue}

html, body {
	height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.header, .header a,.footer {
	background: darkblue;
	color: #fff;
	font-family: 'Shadows Into Light'
}

.nav {
	list-style: none;
}

.nav li {
	display: inline-block;
}

.carouselslide {
  height: 200px;
  overflow: hidden;
}

.d-blockimg-fluid
{
  width: auto;
  height: auto;
}

