* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  padding: 50px;
  background-color: white;
 }

h1 {color: darkblue;
 font-family: 'Shadows Into Light' cursive;
  font-size: 24px;
 text-shadow: 4px 4px 4px #aaa;
} 

h2 {
color: darkblue;
font-size: 18px
}

ul.carousel-container {
  width: 100%;
  height: 100%;
}

.carouselslide {
  width:100%;
  height: 100%;
  overflow: hidden;
  display:flex;
  align-items: center;
  justify-content:center;
}

.d-blockimg-fluid
{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}
img{
  
}

.header, .header a,.footer {
	background: darkblue;
	color: #fff;
	font-family: 'Shadows Into Light'
}



