#waterfall { margin: 10px; list-style: none; }
#waterfall li {
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
}
#waterfall li.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s, top 1s;
}

#waterfall li > div {
  color: rgba(0,0,0,0.6);
  font-size: 32px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  background: rgb(255,255,255);
  border: 1px solid rgba(038, 191, 64, 0);
  transition: all 0.5s;
}

#waterfall li > div:hover {
  transform: translateY(-10px);
  border: 1px solid rgba(038, 191, 64, 1);
  box-shadow: 0 10px 15px rgba(038, 191, 64, 0.1);
  transition: all 0.3s;
}

.story {
  min-height: 400px;
  text-align: center;
  overflow: hidden;
  width: 300px;
}

.story .story-image {
  height: 200px;
  width: auto;
}

.story .story-title {
  font-size: 24px;
  margin: 0px;
  padding: 10px;
}

.story .story-author {
  font-size: 18px;
  margin: 0px;
  padding: 10px;
}

.story .story-content {
  font-size: 16px;
  line-height: 1.5;
  overflow: none;
  padding: 5px;
}

.nav {
  list-style: none;
  background: darkblue;
  color: #fff;
  font-family: 'Shadows Into Light'
}

.nav li {
  display: inline;
  padding: 15px;
